body{
    background-color: rgb(243, 190, 190);
}
h1 {text-align: center;font-size: xx-large;}
h4 {text-align: center;font-size: large;}

@media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50;
  }
img {
    
    margin-left: 10;
    margin-right: 10;
    width: 100;
    height: 100;
    border-radius: 50%;
  }
 button{
    width: 250;
    height: 50;
    font-size: medium;
    font-style: obique; 
 }
 button:hover{
    background-color: rgb(144, 185, 247);
 }
